*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("fondo.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

.container, .texto-nuevo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transition: all 1s;
}

.container{
    overflow: hidden;
    height: 80vh !important;
}


h1{
    color: red;
    font-weight: bold;
}

.si{
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 20px;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 40px;
}

.no-estilo{
    padding: 20px;
    color: white;   
    background-color: blueviolet;
    border: 0;
    border-radius: 40px;
}


/* Agrega este estilo a tu elemento para aplicar la animación */
.shake {
    animation: shake 0.2s ease-in-out;
    border: red 1px solid;
  }
  
  /* Define la animación llamada "shake" */
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
  


  #lluvia {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
  }
  
  .corazon {
    position: absolute;
    width: 40px;
    height: 40px;
    animation: lluviaAnimacion 1s linear infinite;
  }
  
  @keyframes lluviaAnimacion {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }


  .texto-nuevo{
    background-color: black;
    transition: all 3.5s;
    display: none;
    height: auto;
    width: auto;
    text-align: center;
  }

  .texto-nuevo h1{
    margin-bottom: 20px;
    padding-top: 20px;
  }


  @keyframes rainbow {
    0% { color: violet; }
    16.666% { color: indigo; }
    33.333% { color: blue; }
    50% { color: green; }
    66.666% { color: yellow; }
    83.333% { color: orange; }
    100% { color: red; }
  }

  /* Aplica estilos de color arcoíris a los elementos de la lista */
  #idiomas li {
    animation: rainbow 3s linear infinite;
  }





  .galeriafotos{
    transition: all 1s;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }


  .galeriafotos p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }

  .gallery-item {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto y cubre todo el contenedor */
    aspect-ratio: 1; /* Asegura que la relación de aspecto es 1:1, puedes ajustar según necesites */
    display: block;
  }

  .gallery-item:hover {
    transform: scale(1.05);
  }









  .poemas{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 40px;
    text-align: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  #frase{
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    border-radius: 10px;
  }

  .poemas button{
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    border: none;
  }









  @media screen and (max-width: 800px) {
    body{
        background-image: url("fondocelu.jpg");
    }
    .texto-nuevo{
        background-image: url("fondocelu2.jpg");
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }
  }






